/.vs/Dotnet5WebApiODataVersioning/v16/*.suo
/Dotnet5WebApiODataVersioning/bin/Debug/net5.0
/Dotnet5WebApiODataVersioning/obj/Debug/net5.0
/Dotnet5WebApiODataVersioning/obj
/.vs/Dotnet5WebApiODataVersioning/v17/.futdcache.v1
/.vs/Dotnet5WebApiODataVersioning/DesignTimeBuild/.dtbcache.v2
/.vs/Dotnet5WebApiODataVersioning/v17/.suo
